html {
    align-items: center;
    background-color: #171717;
    color: #ffffff;
    display: flex;
    font: 18px/1 "Segoe UI";
    height: 100%;
    justify-content: center;
}

body {
/*     background-color: #171717;
    border: solid 1px #ffffff; */
    border-radius: 0px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15ch;
    min-width: 30px;
    padding: 2em;
}

p {
    margin: 0;
}

p span {
    color: #ffffff;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em;
}

li{
    text-align: center;
    padding: 2px;
}
