body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    position: relative; /* Nécessaire pour le dropdown */
}

nav ul li a, nav ul li button {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav .dropdown {
    display: inline-block;
}

nav .dropdown .dropbtn {
    background-color: #333;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 0;
}

nav .dropdown .dropbtn .flag {
    width: 24px;
    height: 16px;
}

.flag {
    width: 100%;
    height: auto;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 56px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav .dropdown-content a {
    color: black;
    padding: 2px 6px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

nav .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
    text-align: center;
}

/* Styles généraux pour les deux langues */
.cv-container {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.section {
    margin-bottom: 20px;
}

h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

 .etat-civil p,  .experience .exp-item,  .formations .formation-item,  .competences-info div,  .competences-logiciel div,  .langues div,  .centre-dinterets div,
 .personal-info p,  .experience .exp-item,  .education .education-item,  .computer-skills div,  .software-skills div,  .languages div,  .interests div,
 .stato-civile p,  .esperienza .exp-item,  .formazione .formazione-item,  .competenze-info div,  .competenze-software div,  .lingue div,  .interessi div {
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border: 1px solid #333;
}
